streamlit
langchain
langchain-community
langchain-google-genai
google-generativeai
langchain-cohere
chromadb
rank_bm25
pypdf
python-docx
python-dotenv
fastapi
uvicorn
python-multipart
pysqlite3-binary
langchain-chroma
langchain-classic
langchain-text-splitters
requests
